* {
    margin: 0;
    padding: 0;
}

:root {
    --colour1: rgba(250, 128, 114, 0.801);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* nav bar start */


nav {
    max-height: 168px;
    width: 75vw;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 10px;
}

.logo {
    background-image: url("/img/logo.png");
    
    background-repeat: no-repeat;
    background-size: 68%;
    min-height: 100px;
    min-width: 100px;
    background-position: center;

}

.home {

    height: 11vh;
    width: 41vw;
    display: flex;
    align-items: center;
    margin-left: 23px;
    margin-right: 104px;
    font-family: sans-serif;

}

.home ul a {
    text-decoration: none;
    color: black;
    padding: 0px 12px;

}

.home ul a:hover {
    color: var(--colour1);
}
.searchme
{
    
    display: flex;

}
.Textfield {
    height: 31px;
    width: 147px;
    margin: 10px;
    padding: 0px 6px;
    border: 2px solid black;
}




.button {
    height: 31px;
    width: 73px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 7%;
}

.button:hover {
    background-color: var(--colour1);
}

/* nav bar end */



hr {
    width: 75vw;
    color: rgba(3, 72, 72, 0.626);
}

/* Contact box starts here */


.contactbox {
    margin-top: 35px;
    max-height: 705px;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 0%;
}

.contactbox::after {
    content: "";
    height: 705px;
    width: 100vw;
    background-image: url("/img/11.svg");
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0.5;
}

h2 {
    padding: 15px;
    width: 825px;
    margin-left: 11vw;
}

.Textfields {
    max-width: 853px;
    max-height: 25px;
    margin: 10px;
    margin-right: 6vw;
    margin-left: 12vw;
    padding: 6px;
    border: 2px solid var(--colour1);
    font-family: Times, serif;
    font-size: 14px;
}

.Textarea {
    max-width: 853px;
    max-height: 349px;
    margin: 10px;
    margin-right: 6vw;
    margin-left: 12vw;
    padding: 6px;
    border: 2px solid var(--colour1);
    font-family: Times, serif;
    font-size: 14px;
}

.Submitbtn {
    height: 33px;
    width: 72px;
    margin-left: 12vw;
    border: 2px solid black;
    border-radius: 6px;
}

.Submitbtn:hover {
    background-color: var(--colour1);
}