@media screen and (max-width:880px)

{

    nav
    {
        
        flex-direction:column;
        align-items: center;
        justify-content: center;
        
    }

    /* Responsive style css starts here*/
  .home
  {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: auto;
  }
 

    .imageheaven
    {
        display: none;
    }

    .article
    {
      flex-direction: column;
    }

    /* Responsive style css ends here*/

    /* Responsive contact css starts here*/

    /* Responsive contact css ends here*/

}